body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 90px 90px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .navigation {
    display: flex;
    gap: 15px;
  }
  
  .navigation a {
    text-decoration: none;
    color: white;
  }
  
  .subtitle {
    text-align: center;
    position: absolute; /* Add absolute positioning */
    bottom: 70%; /* Position at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    color: white;
    font-size: x-large;
  }
  
  .subtitle > div {
    font-size: 14px;
    opacity: 0.8;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  